## 한국부동산원_전국주택가격동향조사_월간동향_아파트_전세가격(평균단위전세가격)

#### 한국부동산원(구.한국감정원)에서 조사 공표하는 전국주택가격동향조사 월간동향 중 아파트의 전세가격-평균단위전세가격 데이터입니다.
- 공표시기(월간) : 익월 15일(발표일이 휴일인 경우 그 다음날)
- 단위 : 천원/㎡

In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv('./data.csv', encoding = 'cp949')
df.loc[[9]]

,지역,2012-01,2012-02,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,...,2021-11,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08
9,서울 도심권,3425.0,3425.0,3426.0,3428.0,3424.0,3407.0,3404.0,3413.0,3425.0,...,8247.0,8265.0,8266.0,8257.0,8238.0,8225.0,8221.0,8212.0,8197.0,8165.0

In [53]:
dic = df.loc[[9]].to_dict()
data = []
for key in dic:
    data.append(dic[key][9])

del data[0]
data = map(int, data)
data = np.array(data)

AttributeError: 'numpy.ndarray' object has no attribute 'show'